#Text to SQL with smolagents

In [1]:
!pip install smolagents python-dotenv sqlalchemy --upgrade -q

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.2/138.2 kB 5.0 MB/s eta 0:00:00

In [ ]:
# Agente Industrial Inteligente com Smolagents
# Adaptado para banco de dados de manutenção industrial

# Importação de bibliotecas necessárias
import os

from sqlalchemy import create_engine, inspect, text
from smolagents import tool, CodeAgent, InferenceClientModel



!wget -O manutencao_industrial.db "https://drive.google.com/uc?export=download&id=1B4l59bdPycqB4peRQxrrgOIlmGkGi-0v"


# Incluir seu HF_TOKEN diretamente:
os.environ["HF_TOKEN"] = " "

--2025-07-01 07:33:09--  https://drive.google.com/uc?export=download&id=1B4l59bdPycqB4peRQxrrgOIlmGkGi-0v
Resolving drive.google.com (drive.google.com)... 74.125.23.138, 74.125.23.100, 74.125.23.113, ...
Connecting to drive.google.com (drive.google.com)|74.125.23.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1B4l59bdPycqB4peRQxrrgOIlmGkGi-0v&export=download [following]
--2025-07-01 07:33:10--  https://drive.usercontent.google.com/download?id=1B4l59bdPycqB4peRQxrrgOIlmGkGi-0v&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 173.194.174.132, 2404:6800:4008:c1b::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|173.194.174.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24576 (24K) [application/octet-stream]
Saving to: ‘manutencao_industrial.db’

manutencao_industri 100%[===================>]  24.00K  --.-KB/s    in 0s

2025-07-01 07:33:11 (105 MB/s) - ‘manutencao_industrial.db’ saved [24576/24576]

In [10]:
class IndustrialMaintenanceAgent:
    def __init__(self, db_path="/content/manutencao_industrial.db"):
        self.db_path = db_path
        self.engine = create_engine(f"sqlite:///{db_path}")
        self.setup_sql_tool()
        self.create_agent()

    def analyze_database_structure(self):
        """Analisa a estrutura do banco de dados e retorna uma descrição detalhada"""
        inspector = inspect(self.engine)
        tables = inspector.get_table_names()

        description = "Banco de dados de manutenção industrial. Tabelas disponíveis:\n\n"

        for table in tables:
            columns_info = inspector.get_columns(table)
            foreign_keys = inspector.get_foreign_keys(table)

            description += f"Tabela '{table}':\n"
            description += "Colunas:\n"

            for col in columns_info:
                col_desc = f" - {col['name']}: {col['type']}"
                if not col['nullable']:
                    col_desc += " (NOT NULL)"
                if col.get('primary_key'):
                    col_desc += " (CHAVE PRIMÁRIA)"
                description += col_desc + "\n"

            if foreign_keys:
                description += "Relações:\n"
                for fk in foreign_keys:
                    description += f" - {fk['constrained_columns']} → {fk['referred_table']}.{fk['referred_columns']}\n"

            description += "\n"

        return description

    def setup_sql_tool(self):
        """Configura a ferramenta SQL com a descrição do banco de dados"""
        db_description = self.analyze_database_structure()

        @tool
        def sql_maintenance_query(query: str) -> str:
            """
            Permite realizar consultas SQL no banco de dados de manutenção industrial.
            Retorna uma string com os resultados.

            O banco de dados contém informações sobre manutenção industrial incluindo:
            - Ordens de manutenção com datas e descrições
            - Técnicos com especialidades e turnos de trabalho
            - Equipamentos industriais com tipos e especificações
            - Relações entre ordens, técnicos e equipamentos

            Args:
                query: Consulta SQL a ser executada. Deve ser SQL válido.
            """
            try:
                # Obter descrição do banco para contexto adicional
                db_info = self.analyze_database_structure()

                with self.engine.connect() as con:
                    result = con.execute(text(query))
                    rows = result.fetchall()

                    if not rows:
                        return "Nenhum resultado encontrado."

                    # Formatar resultados de forma legível
                    columns = result.keys()
                    output = "Resultados:\n"
                    output += " | ".join(columns) + "\n"
                    output += "-" * (len(" | ".join(columns))) + "\n"

                    for row in rows:
                        output += " | ".join(str(value) for value in row) + "\n"

                    return output

            except Exception as e:
                return f"Erro na consulta SQL: {str(e)}"

        self.sql_tool = sql_maintenance_query

    def create_agent(self):
        """Cria o agente com o modelo especificado"""
        self.agent = CodeAgent(
            tools=[self.sql_tool],
            model=InferenceClientModel(#"microsoft/Phi-3.5-mini-instruct"
                model_id="Qwen/Qwen2.5-Coder-32B-Instruct"
                #model_id="Qwen/Qwen2-72B-Instruct"
            ),
            #max_steps = 5,
        )

    def query(self, question: str):
        """Processa uma pergunta em linguagem natural"""
        try:
            response = self.agent.run(question)
            return response
        except Exception as e:
            return f"Erro ao processar a pergunta: {str(e)}"

    def get_sample_questions(self):
        """Retorna exemplos de perguntas que o agente pode responder"""
        return [
            "Qual técnico trabalhou na ordem de manutenção número 32?",
            "Quais são os tipos de equipamento que passaram por manutenção nos últimos 3 meses?",
            "Qual é o técnico que trabalhou em mais ordens de manutenção?",
            "Quantas ordens de manutenção foram realizadas neste ano?",
            "Quais equipamentos precisam de manutenção preventiva?",
            "Qual é a especialidade do técnico que mais trabalhou?",
            "Em qual turno ocorrem mais manutenções?",
            "Qual foi a última ordem de manutenção realizada?"
        ]

In [11]:
agent = IndustrialMaintenanceAgent()
question = agent.get_sample_questions()[0]
response = agent.query(question)
print(response)

╭──────────────────────────────────────────────────── New run ────────────────────────────────────────────────────╮
│                                                                                                                 │
│ Qual técnico trabalhou na ordem de manutenção número 32?                                                        │
│                                                                                                                 │
╰─ InferenceClientModel - Qwen/Qwen2.5-Coder-32B-Instruct ────────────────────────────────────────────────────────╯

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 1 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query_result = sql_maintenance_query(query="SELECT tecnico FROM ordens_de_manutencao WHERE numero_ordem = 32")
  print("Technician for maintenance order 32:", query_result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Technician for maintenance order 32: Erro na consulta SQL: (sqlite3.OperationalError) no such table:
ordens_de_manutencao
[SQL: SELECT tecnico FROM ordens_de_manutencao WHERE numero_ordem = 32]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 1: Duration 1.54 seconds| Input tokens: 2,080 | Output tokens: 99]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 2 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Retrieve the schema of the database tables
  schema_info = sql_maintenance_query(query="PRAGMA table_info(ordens)")
  print("Schema info for ordens table:", schema_info)

  schema_info = sql_maintenance_query(query="PRAGMA table_info(tecnicos)")
  print("Schema info for tecnicos table:", schema_info)

  schema_info = sql_maintenance_query(query="PRAGMA table_info(rel_ordens_tecnicos)")
  print("Schema info for rel_ordens_tecnicos table:", schema_info)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Schema info for ordens table: Nenhum resultado encontrado.
Schema info for tecnicos table: Resultados:
cid | name | type | notnull | dflt_value | pk
---------------------------------------------
0 | id_tecnico | INTEGER | 0 | None | 1
1 | nome | TEXT | 0 | None | 0
2 | especialidade | TEXT | 0 | None | 0
3 | turno | TEXT | 0 | None | 0

Schema info for rel_ordens_tecnicos table: Nenhum resultado encontrado.

Out: None

[Step 2: Duration 2.30 seconds| Input tokens: 4,438 | Output tokens: 265]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 3 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Retrieve information about the ordens_tecnicos table schema
  schema_info = sql_maintenance_query(query="PRAGMA table_info(ordens_tecnicos)")
  print("Schema info for ordens_tecnicos table:", schema_info)

  # Query the ordens_tecnicos table for the technician who worked on maintenance order number 32
  technician_id = sql_maintenance_query(query="SELECT id_tecnico FROM ordens_tecnicos WHERE numero_ordem = 32")
  print("Technician ID for maintenance order 32:", technician_id)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Schema info for ordens_tecnicos table: Nenhum resultado encontrado.
Technician ID for maintenance order 32: Erro na consulta SQL: (sqlite3.OperationalError) no such table:
ordens_tecnicos
[SQL: SELECT id_tecnico FROM ordens_tecnicos WHERE numero_ordem = 32]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 3: Duration 3.27 seconds| Input tokens: 7,247 | Output tokens: 510]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 4 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Retrieve information about the ordens table schema again to look for any relationship columns
  schema_info = sql_maintenance_query(query="PRAGMA table_info(ordens_de_manutencao)")
  print("Schema info for ordens_de_manutencao table:", schema_info)

  # Try to find the technician working on maintenance order 32 assuming there is a relationship column in
  ordens_de_manutencao table
  technician_id = sql_maintenance_query(query="SELECT id_tecnico FROM ordens_de_manutencao WHERE numero_ordem =
  32")
  print("Technician ID for maintenance order 32:", technician_id)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Schema info for ordens_de_manutencao table: Nenhum resultado encontrado.
Technician ID for maintenance order 32: Erro na consulta SQL: (sqlite3.OperationalError) no such table:
ordens_de_manutencao
[SQL: SELECT id_tecnico FROM ordens_de_manutencao WHERE numero_ordem = 32]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 4: Duration 3.23 seconds| Input tokens: 10,573 | Output tokens: 750]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 5 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # List all tables in the database
  tables = sql_maintenance_query(query="SELECT name FROM sqlite_master WHERE type='table';")
  print("Tables in the database:", tables)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Tables in the database: Resultados:
name
----
equipamentos
ordens_manutencao
tecnicos
ordem_tecnico


Out: None

[Step 5: Duration 1.77 seconds| Input tokens: 14,425 | Output tokens: 861]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 6 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Retrieve information about the ordem_tecnico table schema
  schema_info = sql_maintenance_query(query="PRAGMA table_info(ordem_tecnico)")
  print("Schema info for ordem_tecnico table:", schema_info)

  # Query the ordem_tecnico table for the technician who worked on maintenance order number 32
  technician_id = sql_maintenance_query(query="SELECT id_tecnico FROM ordem_tecnico WHERE id_ordem = 32")
  print("Technician ID for maintenance order 32:", technician_id)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Schema info for ordem_tecnico table: Resultados:
cid | name | type | notnull | dflt_value | pk
---------------------------------------------
0 | id_ordem | INTEGER | 0 | None | 1
1 | id_tecnico | INTEGER | 0 | None | 2

Technician ID for maintenance order 32: Resultados:
id_tecnico
----------
3


Out: None

[Step 6: Duration 2.75 seconds| Input tokens: 18,511 | Output tokens: 1,056]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 7 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Get the technician's name using the technician ID
  technician_name = sql_maintenance_query(query="SELECT nome FROM tecnicos WHERE id_tecnico = 3")
  print("Technician name for maintenance order 32:", technician_name)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Technician name for maintenance order 32: Resultados:
nome
----
Tecnico 3


Out: None

[Step 7: Duration 1.71 seconds| Input tokens: 23,051 | Output tokens: 1,159]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 8 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  final_answer("Tecnico 3")
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Out - Final answer: Tecnico 3

[Step 8: Duration 1.27 seconds| Input tokens: 27,824 | Output tokens: 1,224]

Tecnico 3

In [12]:
agent = IndustrialMaintenanceAgent()
question = agent.get_sample_questions()[1]
response = agent.query(question)
print(response)

╭──────────────────────────────────────────────────── New run ────────────────────────────────────────────────────╮
│                                                                                                                 │
│ Quais são os tipos de equipamento que passaram por manutenção nos últimos 3 meses?                              │
│                                                                                                                 │
╰─ InferenceClientModel - Qwen/Qwen2.5-Coder-32B-Instruct ────────────────────────────────────────────────────────╯

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 1 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  import datetime

  # Calculate the date 3 months ago from today
  three_months_ago = datetime.datetime.now() - datetime.timedelta(days=90)

  # Format the date to match the SQL query format
  formatted_date = three_months_ago.strftime('%Y-%m-%d')

  # Construct the SQL query
  query = f"SELECT DISTINCT tipo_equipamento FROM ordens_de_manutencao WHERE data >= '{formatted_date}';"

  # Execute the query and print the results
  equipment_types = sql_maintenance_query(query=query)
  print(equipment_types)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such table: ordens_de_manutencao
[SQL: SELECT DISTINCT tipo_equipamento FROM ordens_de_manutencao WHERE data >= '2025-04-02';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 1: Duration 3.23 seconds| Input tokens: 2,085 | Output tokens: 205]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 2 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Get the schema information from the database
  schema_info = sql_maintenance_query(query="SELECT name FROM sqlite_master WHERE type='table';")
  print(schema_info)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Resultados:
name
----
equipamentos
ordens_manutencao
tecnicos
ordem_tecnico


Out: None

[Step 2: Duration 1.53 seconds| Input tokens: 4,636 | Output tokens: 305]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 3 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Calculate the date 3 months ago from today
  three_months_ago = datetime.datetime.now() - datetime.timedelta(days=90)

  # Format the date to match the SQL query format
  formatted_date = three_months_ago.strftime('%Y-%m-%d')

  # Construct the SQL query with the correct table name
  query = f"SELECT DISTINCT tipo_equipamento FROM ordens_manutencao WHERE data >= '{formatted_date}';"

  # Execute the query and print the results
  equipment_types = sql_maintenance_query(query=query)
  print(equipment_types)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such column: tipo_equipamento
[SQL: SELECT DISTINCT tipo_equipamento FROM ordens_manutencao WHERE data >= '2025-04-02';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 3: Duration 2.48 seconds| Input tokens: 7,403 | Output tokens: 481]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 4 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Get the schema information for the ordens_manutencao table
  schema_info = sql_maintenance_query(query="PRAGMA table_info(ordens_manutencao);")
  print(schema_info)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Resultados:
cid | name | type | notnull | dflt_value | pk
---------------------------------------------
0 | id_ordem | INTEGER | 0 | None | 1
1 | id_equipamento | INTEGER | 0 | None | 0
2 | data_abertura | DATE | 0 | None | 0
3 | data_conclusao | DATE | 0 | None | 0
4 | tipo_manutencao | TEXT | 0 | None | 0
5 | status | TEXT | 0 | None | 0


Out: None

[Step 4: Duration 1.89 seconds| Input tokens: 10,601 | Output tokens: 602]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 5 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Calculate the date 3 months ago from today
  three_months_ago = datetime.datetime.now() - datetime.timedelta(days=90)

  # Format the date to match the SQL query format
  formatted_date = three_months_ago.strftime('%Y-%m-%d')

  # Construct the SQL query with the correct table and column names, joining with the equipamentos table
  query = f"""
  SELECT DISTINCT e.tipo_equipamento
  FROM ordens_manutencao o
  JOIN equipamentos e ON o.id_equipamento = e.id_equipamento
  WHERE o.data_abertura >= '{formatted_date}';
  """

  # Execute the query and print the results
  equipment_types = sql_maintenance_query(query=query)
  print(equipment_types)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such column: e.tipo_equipamento
[SQL:
SELECT DISTINCT e.tipo_equipamento
FROM ordens_manutencao o
JOIN equipamentos e ON o.id_equipamento = e.id_equipamento
WHERE o.data_abertura >= '2025-04-02';
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 5: Duration 3.28 seconds| Input tokens: 14,133 | Output tokens: 844]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 6 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Get the schema information for the equipamentos table
  schema_info = sql_maintenance_query(query="PRAGMA table_info(equipamentos);")
  print(schema_info)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Resultados:
cid | name | type | notnull | dflt_value | pk
---------------------------------------------
0 | id_equipamento | INTEGER | 0 | None | 1
1 | tipo | TEXT | 0 | None | 0
2 | localizacao | TEXT | 0 | None | 0
3 | status | TEXT | 0 | None | 0


Out: None

[Step 6: Duration 1.57 seconds| Input tokens: 18,227 | Output tokens: 935]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 7 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  # Calculate the date 3 months ago from today
  three_months_ago = datetime.datetime.now() - datetime.timedelta(days=90)

  # Format the date to match the SQL query format
  formatted_date = three_months_ago.strftime('%Y-%m-%d')

  # Construct the SQL query with the correct table and column names, joining with the equipamentos table
  query = f"""
  SELECT DISTINCT e.tipo
  FROM ordens_manutencao o
  JOIN equipamentos e ON o.id_equipamento = e.id_equipamento
  WHERE o.data_abertura >= '{formatted_date}';
  """

  # Execute the query and print the results
  equipment_types = sql_maintenance_query(query=query)
  print(equipment_types)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Resultados:
tipo
----
Caldeira
Bomba
Motor
Compressor


Out: None

[Step 7: Duration 3.24 seconds| Input tokens: 22,581 | Output tokens: 1,172]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 8 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  final_answer(["Caldeira", "Bomba", "Motor", "Compressor"])
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Out - Final answer: ['Caldeira', 'Bomba', 'Motor', 'Compressor']

[Step 8: Duration 1.35 seconds| Input tokens: 27,406 | Output tokens: 1,243]

['Caldeira', 'Bomba', 'Motor', 'Compressor']

In [13]:
agent = IndustrialMaintenanceAgent()
question = str(input("Digite sua pergunta sobre a base de dados de manutenção: "))
response = agent.query(question)
print(response)
#Qual o nome do técnico que trabalhou em mais ordens de manutenção?

Digite sua pergunta sobre a base de dados de manutenção: Qual o nome do técnico que trabalhou em mais ordens de manutenção?

╭──────────────────────────────────────────────────── New run ────────────────────────────────────────────────────╮
│                                                                                                                 │
│ Qual o nome do técnico que trabalhou em mais ordens de manutenção?                                              │
│                                                                                                                 │
╰─ InferenceClientModel - Qwen/Qwen2.5-Coder-32B-Instruct ────────────────────────────────────────────────────────╯

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 1 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = """
  SELECT technician_name, COUNT(maintenance_order_id) as order_count
  FROM technicians
  JOIN maintenance_orders ON technicians.id = maintenance_orders.technician_id
  GROUP BY technician_name
  ORDER BY order_count DESC
  LIMIT 1;
  """
  result = sql_maintenance_query(query=query)
  print(result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such table: technicians
[SQL:
SELECT technician_name, COUNT(maintenance_order_id) as order_count
FROM technicians
JOIN maintenance_orders ON technicians.id = maintenance_orders.technician_id
GROUP BY technician_name
ORDER BY order_count DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 1: Duration 2.05 seconds| Input tokens: 2,081 | Output tokens: 149]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 2 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = """
  SELECT Tecnicos.nome, COUNT(*) AS order_count
  FROM Tecnicos
  JOIN Relacoes_ordens_equipamentos ON Tecnicos.id = Relacoes_ordens_equipamentos.tecnico_id
  JOIN Ordens_de_manutencao ON Relacoes_ordens_equipamentos.ordem_de_manutencao_id = Ordens_de_manutencao.id
  GROUP BY Tecnicos.nome
  ORDER BY order_count DESC
  LIMIT 1;
  """
  result = sql_maintenance_query(query=query)
  print(result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such table: Relacoes_ordens_equipamentos
[SQL:
SELECT Tecnicos.nome, COUNT(*) AS order_count
FROM Tecnicos
JOIN Relacoes_ordens_equipamentos ON Tecnicos.id = Relacoes_ordens_equipamentos.tecnico_id
JOIN Ordens_de_manutencao ON Relacoes_ordens_equipamentos.ordem_de_manutencao_id = Ordens_de_manutencao.id
GROUP BY Tecnicos.nome
ORDER BY order_count DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 2: Duration 2.87 seconds| Input tokens: 4,528 | Output tokens: 369]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 3 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = """
  SELECT Tecnicos.nome, COUNT(*) AS order_count
  FROM Tecnicos
  JOIN Ordens_de_manutencao ON Tecnicos.id = Ordens_de_manutencao.tecnico_id
  GROUP BY Tecnicos.nome
  ORDER BY order_count DESC
  LIMIT 1;
  """
  result = sql_maintenance_query(query=query)
  print(result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such table: Ordens_de_manutencao
[SQL:
SELECT Tecnicos.nome, COUNT(*) AS order_count
FROM Tecnicos
JOIN Ordens_de_manutencao ON Tecnicos.id = Ordens_de_manutencao.tecnico_id
GROUP BY Tecnicos.nome
ORDER BY order_count DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 3: Duration 2.51 seconds| Input tokens: 7,502 | Output tokens: 544]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 4 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = """
  SELECT Tecnicos.nome, COUNT(*) AS order_count
  FROM Tecnicos
  JOIN `Ordens de manutencao` ON Tecnicos.id = `Ordens de manutencao`.tecnico_id
  GROUP BY Tecnicos.nome
  ORDER BY order_count DESC
  LIMIT 1;
  """
  result = sql_maintenance_query(query=query)
  print(result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such table: Ordens de manutencao
[SQL:
SELECT Tecnicos.nome, COUNT(*) AS order_count
FROM Tecnicos
JOIN `Ordens de manutencao` ON Tecnicos.id = `Ordens de manutencao`.tecnico_id
GROUP BY Tecnicos.nome
ORDER BY order_count DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 4: Duration 2.53 seconds| Input tokens: 10,889 | Output tokens: 723]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 5 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = "SELECT name FROM sqlite_master WHERE type='table';"
  tables = sql_maintenance_query(query=query)
  print(tables)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Resultados:
name
----
equipamentos
ordens_manutencao
tecnicos
ordem_tecnico


Out: None

[Step 5: Duration 1.59 seconds| Input tokens: 14,701 | Output tokens: 817]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 6 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = """
  SELECT tecnicos.nome, COUNT(ordens_manutencao.id) as order_count
  FROM tecnicos
  JOIN ordem_tecnico ON tecnicos.id = ordem_tecnico.tecnico_id
  JOIN ordens_manutencao ON ordem_tecnico.ordem_de_manutencao_id = ordens_manutencao.id
  GROUP BY tecnicos.nome
  ORDER BY order_count DESC
  LIMIT 1;
  """
  result = sql_maintenance_query(query=query)
  print(result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such column: ordens_manutencao.id
[SQL:
SELECT tecnicos.nome, COUNT(ordens_manutencao.id) as order_count
FROM tecnicos
JOIN ordem_tecnico ON tecnicos.id = ordem_tecnico.tecnico_id
JOIN ordens_manutencao ON ordem_tecnico.ordem_de_manutencao_id = ordens_manutencao.id
GROUP BY tecnicos.nome
ORDER BY order_count DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 6: Duration 3.40 seconds| Input tokens: 18,718 | Output tokens: 1,016]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 7 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = """
  SELECT tecnicos.nome, COUNT(ordem_tecnico.id) as order_count
  FROM tecnicos
  JOIN ordem_tecnico ON tecnicos.id = ordem_tecnico.tecnico_id
  GROUP BY tecnicos.nome
  ORDER BY order_count DESC
  LIMIT 1;
  """
  result = sql_maintenance_query(query=query)
  print(result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such column: ordem_tecnico.id
[SQL:
SELECT tecnicos.nome, COUNT(ordem_tecnico.id) as order_count
FROM tecnicos
JOIN ordem_tecnico ON tecnicos.id = ordem_tecnico.tecnico_id
GROUP BY tecnicos.nome
ORDER BY order_count DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 7: Duration 2.65 seconds| Input tokens: 23,234 | Output tokens: 1,200]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 8 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

 ─ Executing parsed code: ────────────────────────────────────────────────────────────────────────────────────────
  query = """
  SELECT tecnicos.nome, COUNT(*) as order_count
  FROM tecnicos
  JOIN ordem_tecnico ON tecnicos.id = ordem_tecnico.tecnico_id
  GROUP BY tecnicos.nome
  ORDER BY order_count DESC
  LIMIT 1;
  """
  result = sql_maintenance_query(query=query)
  print(result)
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Execution logs:
Erro na consulta SQL: (sqlite3.OperationalError) no such column: tecnicos.id
[SQL:
SELECT tecnicos.nome, COUNT(*) as order_count
FROM tecnicos
JOIN ordem_tecnico ON tecnicos.id = ordem_tecnico.tecnico_id
GROUP BY tecnicos.nome
ORDER BY order_count DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Out: None

[Step 8: Duration 2.50 seconds| Input tokens: 28,178 | Output tokens: 1,361]

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ Step 9 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

Error in generating model output:
402 Client Error: Payment Required for url: https://router.huggingface.co/nebius/v1/chat/completions (Request ID:
Root=1-686390a1-46bbbc787f62fef027f93418;6c844998-5cde-46fb-a140-b4620c7a317c)

You have exceeded your monthly included credits for Inference Providers. Subscribe to PRO to get 20x more monthly
included credits.

[Step 9: Duration 0.23 seconds]

Erro ao processar a pergunta: Error in generating model output:
402 Client Error: Payment Required for url: https://router.huggingface.co/nebius/v1/chat/completions (Request ID: Root=1-686390a1-46bbbc787f62fef027f93418;6c844998-5cde-46fb-a140-b4620c7a317c)

You have exceeded your monthly included credits for Inference Providers. Subscribe to PRO to get 20x more monthly included credits.

# SQL

In [ ]:

import os
import sqlite3
import pandas as pd

db_path = "/content/manutencao_industrial.db"

def get_database_schema(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    schema = {}
    for table_name_tuple in tables:
        table_name = table_name_tuple[0]
        cursor.execute(f"PRAGMA table_info('{table_name}');")
        columns = cursor.fetchall()
        column_names = [col[1] for col in columns]
        schema[table_name] = column_names
    conn.close()
    return schema

print("Esquema de la base de datos:")
db_schema = get_database_schema(db_path)
for table, columns in db_schema.items():
    print(f"Tabla: {table}, Columnas: {columns}")

Esquema de la base de datos:
Tabla: equipamentos, Columnas: ['id_equipamento', 'tipo', 'localizacao', 'status']
Tabla: ordens_manutencao, Columnas: ['id_ordem', 'id_equipamento', 'data_abertura', 'data_conclusao', 'tipo_manutencao', 'status']
Tabla: tecnicos, Columnas: ['id_tecnico', 'nome', 'especialidade', 'turno']
Tabla: ordem_tecnico, Columnas: ['id_ordem', 'id_tecnico']

In [23]:
conn = sqlite3.connect(db_path)
try:
    sql_query = """
    SELECT
      t.nome
    FROM
      tecnicos AS t
    JOIN
      ordem_tecnico AS ot
      ON t.id_tecnico = ot.id_tecnico
    WHERE
      ot.id_ordem = 32;
    """
    df_tecnico = pd.read_sql_query(sql_query, conn)

    # Print the result
    if not df_tecnico.empty:
        print("Técnico(s) que trabalhou(aram) na ordem de manutenção número 32:")
        print(df_tecnico)
    else:
        print("Nenhum técnico encontrado para a ordem de manutenção número 32.")

except Exception as e:
    print(f"Ocorreu um erro ao executar a consulta: {e}")

Técnico(s) que trabalhou(aram) na ordem de manutenção número 32:
        nome
0  Tecnico 3

In [24]:
try:
    # SQL query to find equipment types maintained in the last 3 months
    sql_query = """
    SELECT
      DISTINCT e.tipo
    FROM
      equipamentos AS e
    JOIN
      ordens_manutencao AS om
      ON e.id_equipamento = om.id_equipamento
    WHERE
      om.data_abertura >= date('now', '-3 months');
    """

    # Execute the query using pandas and store the result in a DataFrame
    df_tipos_equipamento = pd.read_sql_query(sql_query, conn)

    # Print the result
    if not df_tipos_equipamento.empty:
        print("Tipos de equipamento que passaram por manutenção nos últimos 3 meses:")
        for index, row in df_tipos_equipamento.iterrows():
            print(f"- {row['tipo']}")
    else:
        print("Nenhum tipo de equipamento encontrado com manutenção nos últimos 3 meses.")

except Exception as e:
    print(f"Ocorreu um erro ao executar a consulta: {e}")

Tipos de equipamento que passaram por manutenção nos últimos 3 meses:
- Caldeira
- Bomba
- Motor
- Compressor